<div class="sve">
  <mat-card>
    <mat-card-header>
      <h3>Izaberite ulogu</h3>
    </mat-card-header>

    <form class="forma" [formGroup]="signupForm" (ngSubmit)="updateUser()">
      <mat-card-content>
        <mat-form-field class="examle-full-width">
          <mat-label>Uloga</mat-label>
          <mat-select formControlName="role">
            <mat-option *ngFor="let item of roleList" [value]="item">
              {{ item }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <button mat-raised-button color="primary">Update</button>
        <button mat-raised-button color="accent">Close</button>
      </mat-card-content>
    </form>
  </mat-card>
</div>
