.naslov{
    flex-basis: max-content;
    align-self: stretch;
}
mat-card-header{
    background-color:  #3F51B5;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
.sve{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100%;

}
mat-card-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    align-items: center;
}
mat-card{
    width:350px;
    height: 500px;
}
.forma{
    height: 100%;
}