<mat-toolbar color="primary" class="mat-elevation-z8">
    <mat-toolbar-row>
        <a><span><mat-icon>movie</mat-icon> Filmovi</span></a>
        <div class="prazanProstor"></div>
        <a *ngIf="isAdmin()" mat-button routerLink="users">Users</a>
         <a mat-button routerLink="browse-movies">Browse movies</a>
         <a mat-button routerLink="profile" >Profile</a>
         <a mat-button routerLink="log-in">Login</a>
        <a mat-raised-button color="accent" routerLink="sign-up">Sign up</a>
    </mat-toolbar-row>
</mat-toolbar>
