<div *ngIf="_movie" class="okvir"  >
    <mat-card class="mat-elevation-z8"  >
    <mat-card-content > 

        <div class="uKartici">
        <div><img mat-card-xl-image src={{_movie.poster}} ></div>
        
        <div class="opis">{{_movie.opis}}</div>
        
        </div>
             
       
    </mat-card-content>
    <mat-card-footer style="padding:10px ;">
        <button mat-raised-button color="primary" (click)="dodajFavourite()">Dodaj u omiljene</button>
        <button mat-raised-button color="accent" (click)="openPopUp()" align="right">Pogledaj trailer</button>
        <button mat-raised-button color="primary" (click)="openReviewPopUp()" >Ostavi recenziju</button>
        Ocena:{{_movie.ocena}} 
    </mat-card-footer> 
    </mat-card>
 
</div>
<div >
<mat-grid-list class="reviews" cols="4" rowHeight="3:4">
    <ul *ngFor='let review of review$ | async'>
       <mat-grid-tile> <app-review-thumb (buttonClicked)="parentEventHandler($event)" [review]="review"></app-review-thumb></mat-grid-tile>
    </ul>
  </mat-grid-list>
</div>